{% extends "base.html" %}
{% block content %}

<div>
    <h1 class="display-5">Manage Task Lists</h1>
</div>
<hr>

<div>
    <form class="form-inline" method="post">

        <div class="form-group">
            <input type="text" class="form-control" name="newList" placeholder="List Name">
        </div>
            <button  type="submit" class="btn btn-success">Add</button>


    </form>
</div>

<div>
    <form class="form-inline" action="{{ url_for('users.default_list') }}" method="post">

        <div class="form-group">
            <select class="form-control form-control-sm" name="defaultList">
                <option value="">Choose list</option>
                {% for list in lists %}
                    <option value="{{ list }}">{{ list }}</option>
                {% endfor %}
            </select>
            <button  type="submit" class="btn btn-dark">Make Default</button>
        </div>

    </form>
</div>

<div>
    <form class="form-inline" action="{{ url_for('users.delete_list') }}" method="post">

        <div class="form-group">
            <select class="form-control form-control-sm" name="deleteList">
                <option value="">Choose list</option>
                {% for list in lists %}
                    <option value="{{ list }}">{{ list }}</option>
                {% endfor %}
            </select>
            <button  type="submit" class="btn btn-danger">Delete</button>
        </div>

    </form>
</div>



{% endblock %}