{% extends "base.html" %}
{% block content %}
<div id="noteForm">

    <div>
        <div class="row">
            <div class="col-10">
                <h1 class="display-5">Edit Note</h1>
            </div>
            <div class="col-2">
                <a href="{{ url_for('notes.delete_note', note_id=note._id) }}" class="btn btn-danger" role="button">Delete</a>
            </div>
        </div>
    </div>
    <div>
        <form method="post">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" value="{{ note.title }}">

            </div>
            <div class="form-group">
                <label for="summernote">Content</label>

                <textarea class="form-control" id="summernote" name="content">{{ note.content }}</textarea>
            </div>


            <button  type="submit" class="btn btn-warning">Save</button>

            <a href="{{ url_for('notes.get_notes', notebook_id=note.notebook_id) }}" class="btn btn-light" role="button">Cancel</a>
        </form>

    </div>
</div>


{% endblock %}